<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="static/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>BMI Calculator</h1>
            </div>
            <div class="card-body">
                <img src="static/assets/bmi.png" alt="Body Mass Index image">
                <form method="post" action="{% url 'calculate_bmi' %}">
                    {% csrf_token %}
                    <label for="weight">Weight (kg): </label>
                    <input type="number" class="form-control" id="weight" name="weight" required step="0.01" title="Enter your weight in kilograms" placeholder="e.g. 70">
                    <label for="height">Height (meters): </label>
                    <input type="number" class="form-control" id="height" name="height" required step="0.01" title="Enter your height in meters" placeholder="e.g. 1.75">
                    <button type="button" onclick="calculateBMI()">Calculate BMI</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
function calculateBMI() {
    let weight = document.getElementById("weight").value;
    let height = document.getElementById("height").value;

    fetch("https://bmi-calculator.deta.dev/calculate_bmi", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ weight: weight, height: height })
    })
    .then(response => response.json())
    .then(data => alert("BMI: " + data.bmi + "\n" + data.interpretation));
}
</script>
